In [5]:
listkota = ['jakarta','surabaya','depok','bekasi','solo','jogjakarta','semarang','makasar']
for kota in listkota:
  print(kota)

jakarta
surabaya
depok
bekasi
solo
jogjakarta
semarang
makasar

In [8]:
listkota = ['jakarta','surabaya','depok','bekasi','solo','jogjakarta','semarang','makasar',]
for i, kota in enumerate(listkota):
  print(i, kota)

0 jakarta
1 surabaya
2 depok
3 bekasi
4 solo
5 jogjakarta
6 semarang
7 makasar

In [9]:
## 0 sampai 4
for i in range(5):
  print("perulangan ke -", i)

perulangan ke - 0
perulangan ke - 1
perulangan ke - 2
perulangan ke - 3
perulangan ke - 4

In [10]:
## 10 sampai 15
for i in range(10, 16):
  print('i =', i)

i = 10
i = 11
i = 12
i = 13
i = 14
i = 15

In [11]:
## bilangan genap kelipatan 2
for i in range(2, 12, 2):
  print('i =', i)

i = 2
i = 4
i = 6
i = 8
i = 10

In [12]:
## bilangan ganjil kelipatan 2
for bilangan_ganjil in range(1, 12, 2):
  print(bilangan_ganjil)

1
3
5
7
9
11

In [21]:
tuplebuah = ('mangga','jeruk','apel','pepaya')

for buah in tuplebuah:
  print(buah)

mangga
jeruk
apel
pepaya

In [22]:
for karakter in "indonesian":
  print(karakter)

i
n
d
o
n
e
s
i
a
n

In [29]:
for i in range(10, 20):
  # skip jika i == 15
  if (i == 15):
    continue

  print(i)

10
11
12
13
14
16
17
18
19

In [33]:
for i in range(10, 20):
  #hentikan jika i == 15
  if (i == 15):
    break

print(i)

15

In [44]:
listKota = ['jakarta','surabaya','depok','bekasi','solo','jogjakarta','semarang','makassar']


for kota in listKota:
  print(kota)
else:
 print('Tidak ada lagi item yang tersisa')

jakarta
surabaya
depok
bekasi
solo
jogjakarta
semarang
makassar
Tidak ada lagi item yang tersisa

In [6]:
listKota = [
    'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
    'Jogjakarta', 'Semarang', 'Makassar'
]

kotaYangDicari = input('Ketik nama kota yang kamu cari: ')

for i, kota in enumerate(listKota):
  # kita ubah katanya ke lowercase agar
  # menjadi case insensitive
  if kota.lower() == kotaYangDicari.lower():
    print('Kota yang anda cari berada pada indeks', i)
    break
else:
    print('Maaf, kota yang anda cari tidak ada')

Ketik nama kota yang kamu cari: solo
Kota yang anda cari berada pada indeks 4